.text-container {
	text-align: center;
	margin-top: 30px;
}

.learn-more {
	color: green;
	float: right;
	margin-top: -30px;
}

.heading {
	padding: 30px;

}

.text-section {
	margin-top: 15px;
	line-height: 1.5;
	font-size: 20px;
}

#input-form {
	text-align: center;
	margin-top: 30px;
}