.pow_prompt {

	text-align: center;

	font-family: Garamond, serif;

	font-size: 30px;

	font-weight: bold;

	margin-top: 100px;

}



.pow_instructions {

	text-align: center;

	font-family: Garamond, serif;

	font-size: 20px;

}



.pow_more {

	text-align: right;

	margin: none;

}



.pow_more a {

	color: green;

}



.pow_form {

	text-align: center;

	font-family: Garamond, serif;

	margin-top: 0;

	margin-bottom: 0;

	padding: 0;



}



#pow_wegweiser {

	font-family: Garamond, serif;

	margin: 0;

	padding: 0;

}



.pow_name {

	width: 20px;

	margin: 20px 0px;

}



#pow_username {

	margin: 40px 0px;

}



#pow_password{

	margin: 40px 0px;

}



/*Form styles*/

input[type="submit"] {

	font-family: Garamond, serif;

	font-size: 14px;

	font-weight: bold;

}



